{% extends 'teampicker/base.html' %}
{% load staticfiles %}


{% block title %}Dota 2 Team Picker - Login{% endblock %}


{% block head_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}


{% block body_block %}

<div class="container-fluid">
    

    <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}

        <h2 class="form-signin-heading">Login</h2>
        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required />

        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" >Sign In</button>
        <br>                
        <p>Not  a member? <a href="{% url 'registration_register' %}">Sign up!</a></p>
    </form>

</div>        
    
{% endblock %}
