{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - Register{% endblock %}


{% block head_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}


{% block body_block %}
<div class="container-fluid">
    <row>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <form role="form"  method="post" action=".">
                        {% csrf_token %}

                <h2 class="form-signin-heading">Sign Up Here</h2>

                <div class="form-group" >
                <p class="required"> <label for="id_username">Username:</label>
                    <input class="form-control"  id="id_username" maxlength="30" name="username" type="text"  placeholder="Enter username"/></p>
                </div>
                
                <div class="form-group">
                <p class="required"><label for="id_email">E-mail:</label>
                    <input class="form-control" id="id_email" name="email" type="email" placeholder="Enter email" /></p>
                </div>
                
                <div class="form-group">
                <p class="required"><label for="id_password1">Password:</label>
                    <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Enter password" /></p>
                </div>
                
                <div class="form-group">
                <p class="required"><label for="id_password2">Password (again):</label>
                <input class="form-control" id="id_password2" name="password2" type="password" placeholder="Enter password again" /></p>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" >Sign Up</button>
            </form>
        </div>
    </row>  
</div>
{% endblock %}