<!DOCTYPE html>
<html lang="en">

<head>
    <title>registration form</title>
</head>
<block>

{% block body_block %}
<h1>Registration Complete</h1>
        <p>You are now registered</p>
{% endblock %}
</block>
</html>