
  
 
.span4 {
	
	display:block;
    position: relative;
}

.red {
	background-color: red;
	float:left;
	overflow:hidden;
	
}

.span4:hover:after
{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.red:hover:after
{
    background: RGBA(255, 0, 0, .3);
}

.blue:hover:after
{
    background: RGBA(0, 0, 255, .3);
}

.green:hover:after
{
    background: RGBA(0, 255, 0, .3);
}

.purple:hover:after
{
    background: RGBA(230, 230, 250, .3);
}

.blue {
	background-color: blue;
	float:left;
	overflow:hidden;
}
.green {
	background-color: green;
	float:left;
	overflow:hidden;
}

.purple {
	background-color: purple;
	float:left;
	overflow:hidden;
}