{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - About{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <h1>about</h1>            
        </div>   
    </div>
{% endblock %}