<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Dota 2 Team Picker - {% endblock %}</title>


    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "js/jquery-2.2.2.min.js" %}"><\/script>')
    </script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/heroes.js" %}"></script>
    <script src="{% static "js/teampicker.js" %}"></script>



    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">
    
    {% block head_block %}{% endblock %}

</head>

<body>
    <br>
    <br>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Dota 2 Team Picker</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'userlist' %}">Users</a></li>
                    <li><a href="{% url 'teamList' %}">Teams</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user' user.username %}" class="pull-right">hi {{ user.username }}</a></li>
                        <li><a href="{% url 'auth_logout' %}?next=/teampicker/" class="pull-right">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}" class="pull-right">Log in</a></li>
                        
                        <li><a href="{% url 'registration_register' %}" class="pull-right">Sign Up</a></li>
                    {% endif %}
                    <li>
                        <form class="navbar-form pull-right" action="{% url 'search' %}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="Search"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    
    {% block body_block %}{% endblock %}

</body>

</html>