{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - Edit Account{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            
            
          
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ thisUser }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        
                        <form class="form-horizontal" role="form" method="post" action=".">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="id_username" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-6">
                                <input type="text" class="form-control" id="id_username" name="username" placeholder="{{ thisUser }}">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="id_email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                <input type="email" class="form-control" id="id_email" name="email" placeholder="{{ email }}">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Current Password</label>
                                <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">New Password</label>
                                <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
                                <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                        
                        </div>
                    </div>
                </div>
            </div>
                     
        </div>   
        
        

    </div>
{% endblock %}