{% extends 'teampicker/base.html' %}
{% load staticfiles %}



{% block title %}Dota 2 Team Picker - Edit Team{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">
                  
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ teamName }}</h3>
                    </div>
                    <div class="panel-body">
                    
                        <div class="row">
                        
                            <form class="form-horizontal" role="form" method="POST" action=".">
                                {% csrf_token %}

                                
                                         

                                <div class="form-group">
                                    <label for="id_username" class="col-sm-2 control-label">Team Name</label>
                                    <div class="col-sm-6">
                                    <input type="text" class="form-control" id="id_name" name="name" placeholder="{{ teamName }}">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="id_email" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-6">
                                    <input type="text" class="form-control" id="id_description" name="description" placeholder="{{ teamDescription }}">
                                    </div>
                                </div>
                                
                                             {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
                                
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                    
                    <table class="table text-center" id="team">
                        <tr>
                            {% for hero in theRoster %}
                        <td>
                            <input type="image" src="{% static hero.image %}" onclick="testFunc2(this)" data-toggle="popover" data-trigger="hover" title="{{ hero.name }}" data-html="true" data-content="{{ hero.type }}" width="127" height="71" border="1"></src>
                        </td>
                        {% endfor %}
                        </tr>
                        </table>
                    
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hero Roster</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                    <table class="table table-striped table-condensed text-center" id="heroes">
                        {% for hero in heroes %}
                        <td padding="10px">
                        <p><input type="image" src="{% static hero.image %}" onclick="testFunc(this)" data-toggle="popover" data-trigger="hover" title="{{ hero.name }}" data-html="true" data-content="{{ hero.type }}" width="63" height="35" border="1"></src>
                        </td>
                            {% if forloop.counter|divisibleby:10 %}
                                <tr></tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                
            </div>
                     
        </div>   
        
        
       
    </div>
{% endblock %}