{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your Team</h3>
                    </div>
                    <div class="panel-body">
                        {% if user.is_authenticated %}
                            <input class="btn btn-default" type="button" onclick="clearTeam()" value="Clear Team" />
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Save Team
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Save a Team Build</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" method="POST" action="">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                        <label for="id_name">Team Name</label>
                                                        {{ form.name }}
                                                </div>
                                                    
                                                <div class="form-group">
                                                        <label for="id_description">Description</label>
                                                        {{ form.description }}
                                                </div>
                                                
                                                {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save Team</button>
                                            </form>
                                        </div>      
                                    </div>
                                </div>
                            </div>         
                        {% else %}
                            <input class="btn btn-default" type="button" onclick="clearTeam()" value="Clear Team" />
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Save Team
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Save a Team Build</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-2">
                                                    
                                                    <form class="form-signin" role="form" method="post" action="{% url 'auth_login' %}"">
                                                        {% csrf_token %}

                                                        <p>You must be logged in to save a team build.</p>
                                                        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
                                                        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required />

                                                        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" >Sign In</button>
                                                        <br>                
                                                        <p>Not  a member? <a href="{% url 'registration_register' %}">Sign up!</a></p>
                                                    </form>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        {% endif %}         
                    </div>

                    <table class="table text-center" id="team">
                        <tr>
                        </tr>
                    </table>
                </div>
                
                

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hero Roster</h3>
                    </div>
                    <div class="panel-body">
                    
                        <div class="btn-group" role="group" aria-label="...">
                                
                            <form role="form" method="GET" action="">
                                {% csrf_token %}
                                <input type="submit" type="button" class="btn btn-primary" name="clear" value="Clear"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="carry" value="Carry"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="support" value="Support"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="laneSupport" value="Lane Support"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="disabler" value="Disabler"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="initiator" value="Initiator"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="pusher" value="Pusher"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="durable" value="Durable"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="nuker" value="Nuker"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="escape" value="Escape"></input>
                                <input type="submit" type="button" class="btn btn-primary" name="jungler" value="Jungler"></input>
                            </form>
                        
                        </div>
                    
                    </div>
                    <table class="table table-striped table-condensed text-center" id="heroes">
                        {% for hero in heroes %}
                        <td padding="10px">
                        <p><input type="image" src="{% static hero.image %}" onclick="testFunc(this)" data-toggle="popover" data-trigger="hover" title="{{ hero.name }}" data-html="true" data-content="{{ hero.type }}" width="63" height="35" border="1"></src>
                        </td>
                            {% if forloop.counter|divisibleby:10 %}
                                <tr></tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Highly Rated Teams</h3>
                    </div>
                    <div class="panel-body">
                    
                    </div>
                    
                    <table class="table table-striped" id="heroes">
                        <tr>
                            <td>Team</td>
                            <td>Rating</td>
                            <td>Description</td>
                            <td>Created by</td>
                        </tr>    
                        {% for team in highlyRated %}
                         <tr>
                             <td><a href="{% url 'team' team.slug %}">{{ team.name }}</a></td>
                             <td><p>{{ team.votes.count }}</p></td>
                             <td>{{ team.description }}</td>
                             <td><a href="{% url 'user' team.user.username %}">{{ team.user.username }}</a></td>
                         </tr> 
                        {% endfor %}  
                    </table>
                
                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recently Created Teams</h3>
                    </div>
                    <div class="panel-body">
                    
                    </div>
                    <table class="table table-striped" id="heroes">
                        <tr>
                            <td>Team</td>
                            <td>Rating</td>
                            <td>Description</td>
                            <td>Created by</td>
                        </tr>    
                        {% for team in recentlyCreated %}
                         <tr>
                             <td><a href="{% url 'team' team.slug %}">{{ team.name }}</a></td>
                             <td><p>{{ team.votes.count }}</p></td>
                             <td>{{ team.description }}</td>
                             <td><a href="{% url 'user' team.user.username %}">{{ team.user.username }}</a></td>
                         </tr> 
                        {% endfor %}  
                    </table>
                </div>
            </div>
        </div>
{% endblock %}