{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - Search{% endblock %}

{% block body_block %}

    <br>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-offset-4">
                <form action="#" method="GET">
                    
                    <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="q" placeholder="{{ query }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        
        <br>
        <br>
        
        <div class="row">
            
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                    
                    <table class="table table-striped" id="heroes">

                        {% for user in users %}
                         <tr>
                             <td><a href="{% url 'user' user.username %}">{{ user.username }}</a></td>
                             
                             
                         </tr> 
                        {% endfor %}  
                    </table>
                </div>
            </div>        
            
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Teams</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                    
                    <table class="table table-striped" id="heroes">

                        {% for team in teams %}
                         <tr>
                             <td><a href="{% url 'team' team.slug %}">{{ team.name }}</a></td>
                             
                             
                         </tr> 
                        {% endfor %}  
                    </table>
                </div>
            </div>        
            
        </div>
    </div>
{% endblock %}