{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - Teams{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">

           
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Teams</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                
                    <table class="table table-striped" id="heroes">
                        <tr>
                            <td>Team</td>
                            <td>Rating</td>
                            <td>Description</td>
                            <td>Created by</td>
                        </tr>    
                        {% for team in teams %}
                         <tr>
                             <td><a href="{% url 'team' team.slug %}">{{ team.name }}</a></td>
                             <td><p>{{ team.votes.count }}</p></td>
                             <td>{{ team.description }}</td>
                             <td><a href="{% url 'user' team.user.username %}">{{ team.user.username }}</a></td>
                         </tr> 
                        {% endfor %}  
                    </table>
                
                </div>
            </div>
            
        </div>   
    </div>
{% endblock %}