{% extends 'teampicker/base.html' %}
{% load staticfiles %}



{% block title %}Dota 2 Team Picker - {{ teamName }}{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">
       
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ teamName }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ teamDescription }}</p>
                        <p>{{ dateCreated }}</p>
                        <p>{{ dateModified }}</p>
                        <p>Created by <a href="{% url 'user' theUser.username %}">{{ theUser.username }}</a></p>
                        
                        <form method="GET" action="">
                            <div class="btn-group" role="group" aria-label="...">
                                
                                {% if votedUp %}
                                
                                <button type="submit" class="btn btn-default" name="voteDown" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="badge">{{ count }}</span>
                                </button>
                                
                                {% else %}
                                
                                <button type="submit" class="btn btn-default" name="voteUp" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
                                    <span class="badge">{{ count }}</span>
                                </button>
                                
                                {% endif %}
                                
                            </div>
                            
                        </form>
                      {% if ownTeam %}      
                      <form method="GET" action="{% url 'editTeam' teamSlug %}">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Edit Team
                            </button>
                        </div>
                      </form>
                      
                      
                      <form method="GET" action="">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-default" name="delete" aria-label="Delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                Delete Team
                            </button>
                        </div>
                      </form>
                      {% endif %}
                      
                    </div>
                    
                    <table class="table table-striped text-center" id="heroes">
                        {% for hero in theRoster %}
                        <td>
                            <img src="{% static hero.image %}" onclick="testFunc(this)" data-toggle="popover" data-trigger="hover" title="{{ hero.name }}" data-html="true" data-content="{{ hero.type }}" width="127" height="71" border="1"></img>
                        </td>
                        {% endfor %}
                    </table>
                </div>
            </div>
                     
        </div>   
        
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comments</h3>
                    </div>
                    <div class="panel-body">
                        <div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//dotateampicker.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}