<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Test</title>
    </head>

    <body>
        
        {% for hero in heroes %}
        
        <p>{{ hero.name }} - <img src="{% static hero.image %}"></src> - [{{ hero.type }}]</p>
        
        {% endfor %}
        
    </body>
