{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - User{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ thisUser }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>Last seen: {{ lastLogin }}</p>
                        <p>Joined: {{ dateJoined }}</p>
                    </div>
                    <ul class="list-group">
                    {% if ownAccount %}
                        <li class="list-group-item"><a href="{% url 'editUser' %}">Edit Account</a></li>        
                    {% else %}
                        <li class="list-group-item"><a href="#">Add To Friends</a></li> 
                        <li class="list-group-item"><a href="#">Message User</a></li>                            
                    {% endif %}
                    </ul>
                </div>
            </div>
                     
        </div>
        
        <div class="row">
            
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ thisUser }}'s Teams</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                    
                    <table class="table table-striped" id="heroes">
                        <tr>
                            <td>Team</td>
                            <td>Rating</td>
                            <td>Description</td>
                        </tr>    
                        {% for team in teams %}
                         <tr>
                             <td><a href="{% url 'team' team.slug %}">{{ team.name }}</a></td>
                             <td><p>{{ team.votes.count }}</p></td>
                             <td>{{ team.description }}</td>
                         </tr> 
                        {% endfor %}  
                    </table>
                </div>
            </div>
            
        </div>    
           
    </div>
{% endblock %}