{% extends 'teampicker/base.html' %}
{% load staticfiles %}

{% block title %}Dota 2 Team Picker - Users{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                    
                    <!-- List group -->
                    <ul class="list-group">
                        {% for user in users %}
                        <li class="list-group-item"><a href="{% url 'user' user.username %}">{{ user.username }}</a></li> 
                        {% endfor %}  
                    </ul>
                </div>
            </div>
            
        </div>   
    </div>
{% endblock %}