body 
{
      background-color: #ffffff;
      font-family: "Georgia";
}
      
h1 
{
      color: darkred;
      text-align: left;
      font-family: "Georgia";
}
      
p 
{
      font-family: "Georgia";
      font-size: 11px;
      font-align: left;
}
      
table, th, td 
{
      border: 1px solid black;
      padding: 2px;          
} 
      
.team
{
      /*text-align: center;*/
}